<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gazetionnaire – Gaze-Controlled Questionnaires</title>
    <% if(locals.currentPage) {%>
    <link rel="stylesheet" href="/style/<%= currentPage %>.css">
    <% } %>
</head>